body {
  width: 100vw;
  height: 100vh;
  background-color:#141852;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}
.container {
  width: 350px;
  height: 200px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
progress{
  border: none;
  border-radius: 50px;
}
progress::-webkit-progress-bar{
  background: #95c5fc;
  border-radius: 50px;
 
}

progress::-webkit-progress-value{
  background: #4A90E2;
  border-radius: 50px;
}

#myProgress{
  width: 50%;
  background-color: #ffd500;
  
}

label{
  color: white;
  font-family: Roboto;

}

input{
  appearance: none;
  height: 25px;
  background: transparent;
  border: 0;
  width: 200px;
  -webkit-transition: width .35s ease-in-out;
  transition: width .35s ease-in-out;
 padding-left: 10px;
 padding-right: 10px;
  margin: 5px;
  border-bottom: 1px solid white;
  color: white;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 300;
}

input::placeholder{
  color: white;
  
  
}

input:focus {
  width: 250px;
  outline: none;
}

.idButton{
  background-color: #4A90E2;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
}

.idButton:hover{
background-color: #3b75b6;
}